/* ----hms override css style --phil--- */
.pagination-container {
    padding: 0px 16px !important;
        margin-top: 5px !important;
}
.el-table--mini {
  td{
    padding: 3px 0;
  }
  th{
    padding: 3px 0;
    background-color: snow;
  }
}
.dashboard-editor-container {
    min-height: auto !important;
    background-color: white !important;
}

.filter-container {
    padding-bottom: 1px !important;
}
.app-container {
    padding-top: 7px !important;
}

/*-----table----*/
/* .el-table{
  height:750px !important;
} */
.el-table--mini td {
    padding: 0px 0;
}
.fixed-width .el-button--mini {
    padding: 3px 2px !important;
    width: 65px !important;
}
.el-input__inner {
  padding: 0 2px;
}
.el-date-editor.el-input{
    width: 135px;
}

body .el-table th.gutter{
    display: table-cell!important;
}
.el-dialog__body {
  padding: 0px 30px;
}
.el-dialog__footer {
  text-align: center;
}
.el-submenu .el-menu-item {
    height: 42px;
    line-height: 42px;
}






